<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianye.hrsystem.mapper.HrmAttendancePlanMapper">
    <select id="getAttendanceShiftPlan" parameterType="java.util.HashMap" resultType="com.tianye.hrsystem.model.HrmAttendancePlan">
        select * from hrm_attendance_plan where emp_id=#{employeeId} and work_date=#{shiftDate}
    </select>

    <select id="getAdministrationAttendanceDays" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        SELECT
            count(distinct check_type,user_id,work_date)
        FROM
            hrm_attendance_plan
        WHERE
            check_type = 'OnDuty'
          AND group_id = '954235104'
          AND work_date BETWEEN #{beginDate} AND #{endDate}
          and emp_id=(select employee_id FROM hrm_employee WHERE entry_status=1 and post='行政文员' limit 1) and plan_check_time is not null
    </select>
</mapper>