<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianye.hrsystem.modules.bonus.mapper.HrmBonusTaxOnlyMapper">

    <select id="getEmpTaxOnlyBonus" resultType="com.tianye.hrsystem.modules.bonus.entity.HrmBonusTaxOnly">
        select * from hrm_bonus_tax_only where employee_id=#{employeeId} and `year`=#{year} and `month`=#{month}
    </select>
</mapper>
