<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianye.hrsystem.modules.bonus.mapper.HrmBonusMapper">

    <select id="getEmpBonus" resultType="com.tianye.hrsystem.modules.bonus.entity.HrmBonus">
        select * from hrm_bonus where employee_id=#{employeeId} and `year`=#{year} and `month`=#{month}
    </select>

    <select id="queryHrmBonusList" resultType="com.tianye.hrsystem.modules.bonus.vo.QueryBounsVO">
        select
            bonus_keys.employee_id,
            coalesce(payroll_bonus.employee_name, tax_only_bonus.employee_name, employee.employee_name) as employee_name,
            coalesce(payroll_bonus.dept_id, tax_only_bonus.dept_id, employee.dept_id) as dept_id,
            payroll_bonus.bonus_id,
            payroll_bonus.bonus,
            tax_only_bonus.bonus as tax_only_bonus,
            bonus_keys.`year`,
            bonus_keys.`month`
        from (
            select employee_id, `year`, `month` from hrm_bonus
            union
            select employee_id, `year`, `month` from hrm_bonus_tax_only
        ) bonus_keys
        left join hrm_bonus payroll_bonus
            on payroll_bonus.employee_id = bonus_keys.employee_id
            and payroll_bonus.`year` = bonus_keys.`year`
            and payroll_bonus.`month` = bonus_keys.`month`
        left join hrm_bonus_tax_only tax_only_bonus
            on tax_only_bonus.employee_id = bonus_keys.employee_id
            and tax_only_bonus.`year` = bonus_keys.`year`
            and tax_only_bonus.`month` = bonus_keys.`month`
        left join hrm_employee employee on employee.employee_id = bonus_keys.employee_id
        WHERE 1=1
        <if test="data.employeeName != null and data.employeeName != ''">
            AND bonus_keys.employee_id in (select employee_id from hrm_employee where employee_Name like concat('%',#{data.employeeName},'%'))
        </if>
        <if test="data.year != null">
            AND bonus_keys.`year` = #{data.year}
        </if>
        <if test="data.month != null">
            AND bonus_keys.`month` = #{data.month}
        </if>
        order by bonus_keys.`year` desc, bonus_keys.`month` desc, employee.employee_name asc
    </select>
</mapper>
