<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianye.hrsystem.modules.salary.mapper.HrmDictDataMapper">

    <select id="selectPageVo" resultType="com.tianye.hrsystem.model.tbdictdata">
       select * from tbdictdata
    </select>
</mapper>