<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianye.hrsystem.mapper.WorkPlanMapper">

    <select id="getMaxDate" resultType="com.tianye.hrsystem.model.tbplanlist">
        SELECT ProductName, LinkName, WorkDate, GroupID, ClassID, UserID, CreateTime FROM tbplanlist WHERE WorkDate = (SELECT MAX(WorkDate) FROM tbplanlist) ORDER by ${sortField} ${sortOrder} LIMIT ${pageNum},${pageSize}
    </select>
</mapper>